// Utilities
@import "./_utils.scss";

.arena {
  position: fixed;
  text-align: center;
  padding: 10px;
  &--90 {
    @include rotate(90);
  }
  &--180 {
    @include rotate(180);
  }
  &--270 {
    @include rotate(270);
  }
}
.grid {
  &-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid black;
    border-left: 1px solid black;
  }
}
